body {
    background-size: cover;
}

.heading {
    width: 100%;
    font-size: 23px;
    margin: 0px;
}

.footer {
    position: fixed;
    bottom: 0;
    color: gray;
    background-color: gainsboro;
    width: 100%;
    line-height: 2;
    text-align: center;
}

canvas {
    border: 2px solid white;
    margin-top: 120px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px white;
}